<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Holaa</p>
    <!--Notacion thymeleaf, colocar una variable de una clase de java-->
    <p th:text="${variable}"></p>
    <p th:text="${numero}"></p>

    <!--todo lo que hay dentro de la etiqueta se ignora -->
    <p th:text="'Id : ' +${estudiante.id}"></p>
    <p th:text="${estudiante.nombre}"></p>
    <p th:text="${estudiante.apellido}"></p>
    <p th:text="${estudiante.semestre}"></p>
    <p th:text="${estudiante.correo}"></p>
    <img th:src="${estudiante.imagenURL}"></img>
  </body>
</html>
